<?xml version = '1.0' encoding = 'UTF-8'?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <servlet>
    <servlet-name>TrackingServlet</servlet-name>
    <servlet-class>com.infotech.locationbox.trackingws.TrackingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackingServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrackingServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrackingServlet</servlet-name>
    <url-pattern>/mobile/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrackingServlet</servlet-name>
    <url-pattern>/schedule/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrackingServlet</servlet-name>
    <url-pattern>/location/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrackingServlet</servlet-name>
    <url-pattern>/alarms/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrackingServlet</servlet-name>
    <url-pattern>/region/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrackingServlet</servlet-name>
    <url-pattern>/regions/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrackingServlet</servlet-name>
    <url-pattern>/campus/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrackingServlet</servlet-name>
    <url-pattern>/campuses/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrackingServlet</servlet-name>
    <url-pattern>/venue/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrackingServlet</servlet-name>
    <url-pattern>/venues/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrackingServlet</servlet-name>
    <url-pattern>/floor/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrackingServlet</servlet-name>
    <url-pattern>/floors/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrackingServlet</servlet-name>
    <url-pattern>/area/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrackingServlet</servlet-name>
    <url-pattern>/areas/*</url-pattern>
  </servlet-mapping>
</web-app>
